.main {
    overflow: hidden;
}

.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fd6132, #f53e2d);
}

/* Header sort bar for Mobile & Tablet */
.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    right: 0;
    left: 0;
    height: var(--sort-bar-height);
    background-color: var(--white-color);
    margin: 0;
    padding-left: 0;
    list-style: none;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__sort-item {
    flex: 1;
}

.header__sort-item--active .header__sort-link {
    color: var(--primary-color);
}

.header__sort-item--active .header__sort-link::before {
    content: "";
    position: absolute;
    width: 100%;
    top: calc(100% - 3px);
    left: 0;
    border-bottom: 2px solid var(--primary-color);
}

.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    line-height: var(--sort-bar-height);
    text-align: center;
    position: relative;
}

.header__sort-link::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}

.header__sort-item:first-child .header__sort-link::after {
    display: none;
}
/* End Header sort bar */

.header__navbar {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
}

.header__navbar-list {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 6px 0 0 0;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item,
.header__navbar-item-link {
    display: flex;
    align-items: center;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
}
.header__navbar-item--strong {
    font-weight: 450;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fb9068;
    height: 12px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-item a:nth-child(2) {
    margin-left: 3px;
}

.header__navbar-icon {
    font-size: 1.6rem;
    margin: 0 4px;
}

.header__navbar-item--no-pointer {
    cursor: text;
    color: var(--white-color);
}

.header__navbar-user {
    position: relative;
    display: flex;
    justify-items: center;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 0 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.header__navbar-user-name {
    font-weight: 450;
}

.header__navbar-user-menu {
    z-index: 1;
    position: absolute;
    padding-left: 0;
    width: 140px;
    top: 110%;
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    box-shadow: 0 0 5px rgb(189, 189, 189);
    display: none;
    animation: fadeIn ease-in .15s;
}

.header__navbar-user-menu::before {
    content: "";
    position: absolute;
    right: 10%;
    top: -22px;
    border-width: 14px 18px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -10px;
    width: 98px;
    height: 10px;
}

.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item:last-child a {
    color: var(--primary-color);
}

.header__navbar-user-item:hover {
    background-color: #fafafa;
}

.header__navbar-user-item a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    padding: 10px;
}

.header__qr {
    z-index: 1;
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: -8px;
    top: 110%;
    padding: 8px;
    border-radius: 4px;
    display: none;
    animation: fadeIn linear .3s;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.header__qr::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 16px;
    left: 0;
    top: -12px;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 16px;
}

.header__navbar-item--hover:hover .header__qr,
.header__navbar-item--hover:hover .header__noti {
    display: block;
}

/* Header Notification */
.header__noti {
    --growth-from: 0;
    --growth-to: 1;
    z-index: 1;
    position: absolute;
    top: 110%;
    width: 400px;
    right: 0;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    display: none;
    transform-origin: calc(100% - 32px) top;
    animation: growth linear .2s;
}

.header__noti::before {
    position: absolute;
    content: "";
    right: 10px;
    top: -30px;
    border: 20px solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__noti::after {
    position: absolute;
    content: "";
    width: 84px;
    height: 16px;
    right: -2px;
    top: -14px;
}

.header__noti-header {
    margin: 0 0 0 12px;
    height: 40px;
    line-height: 40px;
    font-size: 1.4rem;
    color: var(--text-color);
    cursor: text;
}

.header__noti-items {
    padding-left: 0;
}

.header__noti-item {
    background-color: rgba(253,97,50, 0.05);
}

.header__noti-item--read,
.header__noti-item:hover {
    background-color: #f7f7f7;
}

.header__noti-item-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__noti-item-img {
    width: 48px;
    object-fit: contain;
}

.header__noti-info {
    margin-left: 12px;
}

.header__noti-item-title {
    margin: 0;
    line-height: 18px;
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__noti-content {
    margin: 2px 0 0 0;
    font-size: 1.2rem;
    color: var(--text-color);
}

.header__noti-footer-btn {
    width: 100%;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 500;
    padding: 10px 0;
    text-align: center;
    display: block;
}

.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;

}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 8px;
}

.auth-form__heading {
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input {
    height: 40px;
    width: 100%;
    margin: 8px 0;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__agree {
    font-size: 1.4rem;
    text-align: center;
    padding: 4px 12px;
    line-height: 20px;
}

.auth-form__agree-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    padding: 60px 0 24px 0;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls .normal-btn {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 10px 32px;
    display: flex;
    justify-content: space-around;
}

.auth-form__socials-btn--facebook {
    background-color: #3A5A98;
}

.auth-form__socials-btn--facebook
.auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials-btn--google {
    background-color: var(--white-color);
}

.auth-form__socials-btn--google
.auth-form__socials-icon,
.auth-form__socials-btn--google
.auth-form__socials-text {
    color: #666;
}

.auth-form__socials-icon {
    font-size: 2rem;
}

.auth-form__socials-text {
    margin: 0 20px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 8px;
}

.auth-form__help-link {
    font-size: 1.3rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    border-left: 2px solid var(--border-color);
    margin: 0 16px;
    height: 22px;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

.header-search {
    height: calc(var(--header-height) - var(--navbar-height));
    display: flex;
    align-items: center;
    margin: 0 8px;
}

#mobile-seaarch-checkbox:checked ~ .header-search__search {
    display: flex;
}

.header-search__mobile {
    display: none;
}

.header-search__mobile-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    padding: 4px 8px;
}

.header-search__logo {
    width: 140px;
    margin-right: 40px;
}

.header-search__logo-link {
    text-decoration: none;
    color: transparent;
    display: block;
    line-height: 0;
}

.header-search__search {
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__cart {
    width: 120px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 4px 8px;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
}

.header__empty-cart .header__empty-cart-img,
.header__empty-cart .header__empty-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__empty-cart .header__cart-items,
.header__empty-cart .header__cart-heading,
.header__empty-cart .header__cart-view {
    display: none;
}

.header__cart-list {
    z-index: 1;
    position: absolute;
    top: calc(100% + 6px);
    right: -3px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 2px 3rem rgba(0, 0, 0, 0.2);
    animation: growth ease-in .2s;
    cursor: default;
    display: none;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    right: -1px;
    top: -26px;
    border-width: 18px 24px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__cart-heading {
    text-align: left;
    margin: 8px 12px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #999;
    font-weight: 400;

}

.header__cart-items {
    padding-left: 0;
    list-style: none;
    max-height: 55vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-item-img {
    width: 42px;
    height: 42px;
    margin: 12px;
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 450;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    color: var(--text-color);
    margin: 0;
    flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
    /* padding-right: 8px; */
    margin: 4px 8px 4px 0;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-mul {
    font-size: 0.9rem;
    color: #757575;
    margin: 0 4px;
}

.header__cart-item-quan {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #757575;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-type {
    font-size: 1.2rem;
    font-weight: 400;
    color: #757575;
}

.header__cart-item-rm {
    font-size: 1.4rem;
    font-weight: 450;
    color: var(--text-color);
}

.header__cart-item-rm:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.header__cart-view {
    float: right;
    margin: 0 12px 12px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__empty-cart-img {
    display: none;
    padding-top: 24px;
    width: 50%;
}

.header__cart-badge {
    position: absolute;
    color: var(--primary-color);
    background-color: var(--white-color);
    top: -10px;
    right: -6px;
    padding: 2px 8px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 500;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
}

.header__empty-cart-msg {
    display: none;
    font-size: 1.4rem;
    margin: 24px 0;
    color: var(--text-color);
}

.header-search__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header-search__search-input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 16px;
    overflow: hidden;
    border-radius: 2px;
}

.header-search__search-input:focus ~ .header-search__search-history {
    display: block;
}

.header-search__search-history {
    z-index: 1;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 0 5px rgb(189, 189, 189);
    display: none;
    overflow: hidden;
}

.header-search__search-heading {
    margin: 8px 12px;
    color: #999;
    font-weight: 400;
    font-size: 1.4rem;
}

.header-search__search-list {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.header-search__search-item {
    height: 36px;
    padding: 0 12px;
}

.header-search__search-item:hover {
    background-color: #fafafa;
}

.header-search__search-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 36px;
}

.header-search__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin: 0 3px;
    outline: none;
    cursor: pointer;
}

.header__cart-view:hover,
.header-search__search-btn:hover {
    opacity: 0.8;
}

.header-search__search-icon {
    color: var(--white-color);
    font-size: 1.6rem;
}

.header-search__search-item a {
    display: block;
}

/* Container */
.container {
    background-color: #f5f5f5;
}

.main__content {
    padding-top: 36px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    margin: 0;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 18px 20px 0;
    display: flex;
    align-items: center;
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 6px;
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
}

.category-item {
    text-decoration: none;
    position: relative;
}

.category-item:first-child::after {
    display: none;
}

.category-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    border-top: 1px solid #e1e1e1;
}

.ategory-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item__link {
    position: relative;
    right: 0%;
    display: block;
    padding: 10px 20px;
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--text-color);
}

.category-item__link:hover {
    color: var(--primary-color);
}

/* Mobile Category */
.mobile__category {
    display: none;
}

.mobile__category-list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
    margin-bottom: 0;
}

.mobile__category-list::-webkit-scrollbar {
    display: none;
}

.mobile__category-item {
    flex-shrink: 0;
    margin-right: 8px;
}

.mobile__category-item:nth-of-type(3n) .mobile__category-link {
    background: #87afd8;
}

.mobile__category-item:nth-of-type(3n + 1) .mobile__category-link {
    background: #76c9bd;
}

.mobile__category-item:nth-of-type(3n + 2) .mobile__category-link {
    background: #88cf81;
}

.mobile__category-link {
    --line-height: 2rem;
    display: block;
    width: 110px;
    height: calc(var(--line-height) * 2);
    text-decoration: none;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: var(--line-height);
    border-radius: 4px;
    color: var(--white-color);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    user-select: none;
    -webkit-user-select: none;
    padding: 0 4px;
}

/* Sort & Filter */
.filter {
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.04);
}

.filter__label {
    color: #555;
    font-size: 1.4rem;
    font-weight: 400;
    margin-right: 16px;
}

.filter__btn {
    min-width: 90px;
    margin: 0 6px;
}

.home__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home__page-current {
    color: var(--primary-color);
}

.home__page-nav {
    width: 72px;
    height: 36px;
    display: flex;
    overflow: hidden;
    border-radius: 2px;
}

.home__page-next {
    border-right: 1px solid #eee;
}

.home__page-nav-btn {
    flex: 1;
    display: flex;
    text-decoration: none;
    background-color: var(--white-color);
}

.home__page-nav-btn--disable {
    background-color: #f9f9f9;
    cursor: default;
}

.home__page-nav-btn--disable .home__page-nav-icon {
    color: #ccc;
}

.home__page-nav-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/* Products */
.products {
    margin-bottom: 10px;
}

.products-item {
    display: block;
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.05s;
    will-change: transform;
    text-decoration: none;
}

.products-item:hover {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-1px);
}

.products-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.products-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    height: 3.6rem;
    color: var(--text-color);
    margin: 10px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.products-item__price {
    display: flex;
    align-items: baseline;
    font-size: 1.5rem;
    line-height: 1.4rem;
    margin-top: -2px;
}

.products-item__price-old {
    font-size: 1.3rem;
    margin-left: 10px;
    color: #666;
    text-decoration: line-through;
}

.products-item__price-new {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.products-item__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 10px;
}

.products-item__action-like {
    font-size: 1.3rem;
    color: #666;
}

i.item__action-like-fill {
    color: var(--primary-color);
}

i.item__action-like-fill,
.products-item__action-liked .item__action-like-empty {
    display: none;
}

.products-item__action-liked .item__action-like-fill {
    display: inline-block;
}

.products-item__action-rating {
    font-size: 0.9rem;
    color: #d5d5d5;
}

.item__rating-color {
    color: var(--rating-color);
}

.products-item__more-info {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 8px;
    font-size: 1.2rem;
    color: #595959;
}

.products-item__favourite {
    position: absolute;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0 4px;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.products-item__favourite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.products-item__favourite span {
    color: var(--white-color);
}

.products-item__favourite i {
    color: var(--white-color);
    font-size: 1rem;
    margin-right: 2px;
}

.products-item__sale-off {
    width: 40px;
    height: 36px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: rgba(255, 216, 64, 0.9);
    background-color: currentColor;
    border-top-right-radius: 2px;
}

.products-item__sale-off::after {
    content: "";
    position: absolute;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent currentColor transparent currentColor;
}

.products-item__sale-off-percent {
    color: var(--primary-color);
}

.products-item__sale-off-label {
    color: var(--white-color);
}

.products-pagination {
    margin: 48px 0 148px 0;
    padding-left: 0;
}

/* Footer */
.footer {
    border-top: 4px solid var(--primary-color);
}

.footer__heading {
    margin-top: 48px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
}

.footer-list {
    list-style: none;
    padding-left: 0;
}

.footer-item {
    width: max-content;
}

.footer-item-link {
    font-size: 1.2rem;
    line-height: 2.4rem;
    text-decoration: none;  
    color: #666;
    padding: 2px 0;
    display: flex;
    align-items: center;
}

.footer-item-link:hover {
    color: var(--primary-color);
}

.footer-item-link-icon {
    font-size: 1.7rem;
    margin: -1px 6px 0 0;
}

.footer__download {
    display: flex;
    align-items: center;
}

.footer__download-qr {
    width: 88px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin-right: 12px;
    border-radius: 2px;
}

.footer__download-apps {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__download-link {
    text-decoration: none;
    display: block;
    height: 24px;
    width: 76px;
    margin: 4px 0;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.footer__download-link-img {
    height: 100%;
    width: 100%;
    padding: 4px;
    object-fit: contain;
}

.footer__copyright {
    background-color:#f5f5f5;
    padding: 16px 0;
    margin-top: 32px;
}

.footer__copyright-text {
    margin: 0;
    font-size: 1.2rem;
    color: var(--text-color);
    text-align: center;
}


